.apptContainer {
  position: relative;
  width: 550px;
}

.apptShow {
  border: 1px solid #E6E5E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 80px;
  cursor: pointer;
  background: #FFFFFF;
  transition: all 350ms;
  z-index: 10;
  position: relative;
  z-index: 10;
}

.closeDrawer {
  position: absolute;
  top: 32px;
  left: 15px;
  z-index: 2;
  color: #BEBAE6;
  cursor: pointer;
}

.icon {
  color: #6B8EF3;
  width: 45px;
  height: 45px;
  border: 1px solid #E6E5E6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.touchDetail,
.touchQuestion {
  width: 250px;
}

h3, h4 {
  font-size: 14px;
  font-weight: normal;
}
.touchDetail h3, .taskJoiner {
  color: #B8B6B8;
}
h4 {
  color: #5C5D5F;
  margin: 4px 0px;
}

.respBtns {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}
.confirm, .deny, .pushOver {
  color: #D7D7D7;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pushOver {
  margin-right: 15px;
  opacity: 1;
  transition: opacity 350ms;
}

/* hover functionality */
.apptShow:hover {
  background: #F1F2FE;
  border: 1px solid #D7D6F1;
}

.apptShow:hover .confirm,
.apptShow:hover .deny {
  color: #B4B9E7;
}
.apptShow:hover .pushOver {
  color: #8C91CB;
}

.confirm:hover,
.deny:hover {
  background: white;
  border: 1px solid #E6E5E6;
}
.confirm:hover i,
.deny:hover i {
  color: #838AD5;
}
.closeDrawer:hover {
  color: #838AD5;
}

/* open appt styles */
.openAppt {
  margin-left: 50px;
}
.openAppt .pushOver {
  opacity: 0;
}
.openAppt {
  background: #F1F2FE;
  border: 1px solid #D7D6F1;
}
.openAppt .confirm,
.openAppt .deny {
  color: #B3B6E6;
  background: white;
  border: 1px solid #E6E5E6;
}

/* react-transition-group selectors */
.appt-exit {
  opacity: 1;
  margin-left: 0;
}

.appt-exit-active {
  opacity: 0;
  margin-left: -200px;
  transition: all 350ms ease-in;
}